<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>quiz</title>
</head>
<body style="background-color: beige">
<h1>CAPITAL QUIZ</h1>
<img src="https://purepng.com/public/uploads/large/globe-br7.png" style="font-size: 50px">
<h2>Write down the capitals of countries below!</h2>
<form method="post" action="/quiz">
  <div>
  <input type="text" name="france" placeholder="France">
  </div>
  <input type="text" name="germany" placeholder="Germany">
  <div>
  <input type="text" name="japan" placeholder="Japan">
  </div>
  <div>
  <input type="text" name="usa" placeholder="The USA">
  </div>
  <div>
  <input type="text" name="italy" placeholder="Italy">
  </div>
  <input type="submit" value="Send answers">
</form>
</body>
<style>
  h1{
    font-family: Impact, serif;
    font-size: 80px;
    color: lightskyblue;
    stroke: black;
  }
  h2{
    font-family: Impact, serif;
    color: #31a9ec;
    font-size: 40px;
  }
  input {
    margin-bottom: 10px;
    background-color: navajowhite;
    border-radius: 10px;
  }

  img {
    max-height: 300px
  }


</style>

</html>
